# игнорирует все файлы в папке tmp
tmp/

# игнорирует все файлы с сффиксами old и backup
*_old
*_backup

# игнорирует файл Thumbs.db
Thumbs.db

# игнорирует все файлы с расширением *.DS_Store
*.DS_Store